<footer>


<div class="col-md-12 col-sm-12 col-xs-12">
<div class="footer">
<h4 class="left txt-color">Copyrights - Wallchalking Ltd.</h4>

<h4 class="right">
<a href="#">About Us</a>&nbsp;&nbsp;
<a href="#">Contact</a>&nbsp;&nbsp; 
<a href="#">Contact Us</a>&nbsp;&nbsp;
<!-- <a href="#">impressum</a>&nbsp;&nbsp; -->
<a href="#">impressum</a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="#" title="" class="btn btn-icon-btn"><i class="fa fa-facebook fbk"></i></a>
<a href="#" title="" class="btn btn-icon-btn"><i class="fa fa-twitter twt"></i></a>
<a href="#" title="" class="btn btn-icon-btn"><i class="fa fa-instagram inst"></i></a>
</h4>	
</div>
</div>


</footer>