
<br><br>
<div class="col-md-10 col-md-offset-1">
<div class="row">

<div class="panel panel-default">
<div class="panel-heading" style="text-align: center;"><h3>Subscription Page</h3></div>
<div class="panel-body">

  <%= @usr.email %>
  <%= @usr.id %>

  <%= image_tag("logo.png", class:"logo-image") %>

    </div>
</div>

</div>
</div>